namespace: chat-system

chatServer:
  image:
    repository: vspm104/chat-stack
    tag: "latest"
    pullPolicy: IfNotPresent
  replicaCount: 2
  port: 8080
  service:
    type: ClusterIP
    port: 8080

prometheus:
  image:
    repository: prom/prometheus
    tag: "v2.54.0"
  port: 9090
  service:
    type: ClusterIP
    port: 9090

grafana:
  image:
    repository: grafana/grafana
    tag: "11.0.0"
  port: 3000
  adminUser: admin
  adminPassword: admin
  service:
    type: ClusterIP
    port: 3000
