apiVersion: v1
kind: Service
metadata:
  name: chat-server
  namespace: chat-system
  annotations:
    prometheus.io/scrape: "true"
    prometheus.io/path: "/metrics"
    prometheus.io/port: "8080"
spec:
  selector:
    app: chat-server
  ports:
    - name: http
      port: 8080
      targetPort: 8080
  type: ClusterIP
